#ie {
  background: none;
  .ribbon {
    position: relative;
    top: 200px;
    width: 61%;
    padding: 25px;
    padding-left: 45px;
    font-family: "Fjalla One";
    font-size: 100px;
    line-height: 120px;
    background-color: #ffc31c;
    color: black;
  }
  .apology {
    position: relative;
    top: 270px;
    z-index: 100;
    color: white;
    font-size: 33px;
    line-height: 50px;
    font-family: "Roboto";
    font-weight: 100;
    padding: 45px;
    width: 70%;
  }
}

body {
  background: black;
}

.mobile {
  display: none;
}

nav {
  right: 0%;
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 100;
}

.mobile-gallery {
  display:none;
}

.section {
  height: 54vw;
  width: 100vw;
  position: relative;
  top: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.line-follow {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  h1 {
    text-align: right;
    padding-right: 1vw;
    padding-left: 0;
  }
  .tabs {
    text-align: right;
    padding-right: 0.41205vw;
  }
}

.description.line-follow .content {
  border: none;
  border-right: 1px solid white;
}

div.description.line-follow .content {
  margin-left: 8.5%;
}

.circular-face {
  position: absolute;
  height: 6vw;
  right: 17%;
  margin-top: 20px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 3px solid rgba(255, 255, 255, 0.9);
}

.logo {
  position: absolute;
  margin-top: 20.5px;
  height: 3.5vw;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.github {
  right: 7%;
}

.linkedin {
  right: 2%;
  // border-radius:
}

.twitter {
  right: 12%;
}

.home {
  color: white;
  font-weight: 400;
  width: 100vw;
  text-align: center;
  text-shadow: 1px 1px black;
}

.name {
  top: 5vw;
  font-size: 9vw;
  font-family: 'Fjalla One', sans-serif;
  position: absolute;
}

.sub {
  top: 21vw;
  font-size: 2.5vw;
  font-family: 'Playball', sans-serif;
  position: absolute;
}

.categories {
  top: 25vw;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 400;
  position: absolute;
  display: block;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 4vw;
  // -webkit-filter: sepia(0.5) contrast(1.4);
  // filter: sepia(0.5) contrast(1.4);
}

.button-circ {
  position: absolute;
  width: 14vw;
  height: 14vw;
  margin-bottom: 2vw;
  margin: 0 2vw;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1.4vw 1.4vw;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.9);
  opacity: 1;
  transition: all .2s ease-in-out;

  p {
    width: 75%;
    height: 75%;
    margin: 6.2vw auto 0 auto;
    font-family: "Fjalla One";
    font-size: 1.55vw;
  }


  &.button-circ:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: font-size(1.05);
  }

}

#content-wrapper {
  color: black;
  margin-top: 2vw;
  box-shadow: 0px 3px 2px #d3d3d3;
  position: relative;
  z-index: 10;
}

#nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  height: 2vw;
  top: 0vw;
  left: 0vw;
  font-family: 'Fjalla One';
  z-index: 100;
  // box-shadow: 3px 3px 2px #d3d3d3;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  background-color: black;
  & h1, a {
    position: relative;
    font-size: 1.55vw;
    left: 3vw;
    display: inline;
    top: -1vw;
    text-decoration: none;
    color: #eee;
  }

 .robotics-hovered {
    color: #ffc31c;
  }

 .webdev-hovered {
    color: #328aab;
  }
 .orgs-hovered{
    color: #00A14C;

  }

  & .nav-header {
    left: 3.45vw;
    cursor: pointer;
  }

  .nav-options {
    position: relative;
    display: inline-block;
    width: 79.9%;
    text-align: center;
  }

  .nav-options > span {
    cursor: pointer;
    padding: 0px 2vw;
  }
  .contact-button:hover {
    cursor: pointer;
  }
}

.project-content {
  background-color: white;
  position: absolute;
  right: 0;
  font-family: "Fjalla One";
}

.video-wrapper {
  height: 24vw;
}

.video {
  position: relative;
  top: 0.45vw;
}

.small-images {
  height: 14%;
  width: 100%;
  text-align: center;
}
.image-wrapper {
  width: 15%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(30, 30, 30, 1);
}

#image1 {
  background-image: url("http://i.imgur.com/lbflCkO.jpg");
}

#image2 {
  background-image: url("http://i.imgur.com/taYqv2c.jpg");
}

#image3 {
  background-image: url("http://i.imgur.com/FbQKqjQ.jpg")
}

#image4 {
  background-image: url("http://i.imgur.com/z0cPw5U.png");
}

#image5 {
  background-image: url("http://i.imgur.com/bKBEtia.jpg");
}

#image6 {
  background-image: url("http://i.imgur.com/B9ERUnH.jpg");
}

#image7 {
 background-image: url("http://i.imgur.com/nID76MQ.jpg");
}

#image8 {
  background-image: url("http://i.imgur.com/72jS0B8.jpg");
}

#image9 {
  background-image: url("http://i.imgur.com/m5USp5d.jpg");
}

#image10 {
  background-image: url("http://i.imgur.com/K9qqxCJ.jpg");
}

#image11 {
  background-image: url("http://i.imgur.com/ZyaEBiy.jpg");
}

#image12 {
  background-image: url("http://i.imgur.com/9B93fIZ.jpg");
}

#image13 {
  background-image: url("http://i.imgur.com/P5KAU5Q.jpg");
}

#image14 {
  background-image: url("http://i.imgur.com/tSDunoV.png");
}

#image15 {
  background-image: url("http://i.imgur.com/9u7YkUZ.jpg");
}

#image16 {
  background-image: url("http://i.imgur.com/DGrdIjz.png");
}

#image17 {
  background-image: url("http://i.imgur.com/pUB0fOS.png");
}

#image18 {
  background-image: url("http://i.imgur.com/4dz8UW6.png");
}

#image19 {
  background-image: url("http://i.imgur.com/PzAg8mb.png");
}

#image20 {
  background-image: url("http://i.imgur.com/aTTT4ce.png");
}

#image21 {
  background-image: url("http://i.imgur.com/2ZGhki9.png");
}

#image22 {
  background-image: url("http://i.imgur.com/Socan1d.png");
}

#image23 {
  background-image: url("http://i.imgur.com/yKutko5.jpg");
}

#image24 {
  background-image: url("http://i.imgur.com/AkDrCgm.jpg");
}

#image25 {
  background-image: url("http://i.imgur.com/aZtaCCK.jpg");
}

.active-image {
  border: 2px solid white;
}

#robotics-wrapper section .gall .display-image {
  height: 25vw;
  position: relative;
  width: 100%;
  margin-bottom: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#robotics-wrapper .title {
  width: 40%;
  position: absolute;
  top: 1.2vw;
  right: 0vw;
  font-size: 3vw;
  line-height: 3.5vw;
  padding-left: 1.2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-family: "Fjalla One";
  background-color: #ffc31c;
}

.subtitle {
  width: 40%;
  position: absolute;
  top: 7vw;
  right: 0;
  font-size: 2vw;
  line-height: 3.5vw;
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-family: "Fjalla One";
  color: white;
  background-color: rgba(30, 30, 30, 0.6);
}

#contact {
  // background-color: black;
}

.project {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#robotics-wrapper .description {
  position: absolute;
  right: 0.9vw;
  width: 40%;
  top: 13.5vw;
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
  span, ul {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-top: -1.5vw;
  }
  ul > *:last-child {
      margin-bottom: 1.25vw;
  }
  span {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 0.5vw;
  }
  li {
    color: #eee;
    line-height: 1.3vw;
  }

  .tab {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 100;
    display: inline;
    position: relative;
    top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    cursor: pointer;
    background-color: rgba(30, 30, 30, 0.6);
    color: white;
    margin-right: 0.2vw;
  }
  .active-tab {
    background-color: white;
    color: black;
  }
}


.electrical,.software {
  position: relative;
  top: 0;
  width: 46%;
  display: inline-block;
}

// .robo-background {
//   position: absolute;
//   height: 100vh;
//   box-shadow: 5px 5px 5px grey;
//   // -webkit-filter: contrast(1.3) brightness(1) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
//   // filter: contrast(1.3) brightness(0.8) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
// }
div#robotics-wrapper .home-tint, div#ie .home-tint {
  filter: gray; /* IE6-9 */
  filter: grayscale(25%); /* firefox */
  -webkit-filter: grayscale(25%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  &.home-tint:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(20,20 ,40, 0.8);
  }
}

div#orgs-wrapper .home-tint {
  filter: gray; /* IE6-9 */
  filter: grayscale(100%); /* firefox */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  &.home-tint:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(20,20 ,40, 0.8);
  }
}

div#contact .home-tint {
  filter: gray; /* IE6-9 */
  filter: grayscale(90%); /* firefox */
  -webkit-filter: grayscale(90%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  &.home-tint:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(20,20 ,40, 0.6);
  }
}

div#webdev-wrapper .home-tint {
  filter: gray; /* IE6-9 */
  filter: grayscale(25%); /* firefox */
  -webkit-filter: grayscale(25%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  &.home-tint:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(20,20 ,20, 0.9);
  }
}

.link {
  color: #d3d3d3;
}

.white-link {
  color: rgba(30, 30, 30, 0.6);
  &:hover {
    background-color: white;
  }
}

#robotics-wrapper section .description .content {
  background-color: rgba(30, 30, 30, 0.6);
  width: 80%;
  position: absolute;
  top: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bototm: 1vw;
  font-family: "Roboto", sans-serif;

  ul {
    list-style-type: none;
    line-height: 1.5vw;
  }



  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1vw;
    line-height: 1.5vw;
    position: relative;
    top: -1.1vw;
  }
}

#robotics-wrapper section div[class=description] .content, #webdev-wrapper section div[class=description] .content {
  border-left: 1px solid white;
}

.gall {
  height: 32.3vw;
}

.next {
  cursor: pointer;
  position: absolute;
  font-size: 0.9vw;
  right: 4vw;
  &.flip {
    position: absolute;
    left: 8.5%;
    width: 10vw;
  }
}
#webdev-wrapper {
  section .title {
    width: 40%;
    color: white;
    position: absolute;
    top: 1.2vw;
    right: 0vw;
    font-size: 3vw;
    line-height: 3.5vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: "Fjalla One";
    background-color: #328aab;
    box-shadow: 5px 7px 7px -5px #333333;
  }
  .description {
    top: 9vw;
    position: absolute;
    right: 0.9vw;
    width: 41vw;
    height: 70vh;
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;

    span, ul {
      font-size: 1vw;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      letter-spacing: 1px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      list-style-type: disc;
      &:first-of-type{
        margin-top: 0.3vw;
      }
    }

    ul > *:last-child {
        margin-bottom: 1.25vw;
    }

    span {
      display: inline-block;
      text-decoration: underline;
      margin-bottom: 0.5vw;
    }

    li {
      font-weight: 100;
      line-height: 1.3vw;
      margin-left: 1.2vw;
    }

    .tab {
      font-family: "Roboto", sans-serif;
      font-size: 1.3vw;
      font-weight: 100;
      display: inline;
      position: relative;
      top: 1vw;
      padding-left: 1vw;
      padding-right: 1vw;
      padding-top: 1vw;
      padding-bottom: 1vw;
      cursor: pointer;
      background-color: rgba(30, 30, 30, 0.6);
      color: white;
      margin-right: 0.2vw;
    }
    .active-tab {
      background-color: white;
      color: black;
    }
    .content {
      background-color: rgba(30, 30, 30, 0.5);
      color: white;
      width: 80%;
      position: absolute;
      top: 5vw;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 1vw;
      padding-bototm: 1vw;
      font-family: "Roboto", sans-serif;
      & p {
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1vw;
        line-height: 1.5vw;
        position: relative;
        font-weight: 100;
        top: -1.1vw;
        &:first-of-type {
          padding-top: 0.6vw;
        }
      }
    }
    .gall {
      height: 32.3vw;
    }

    .next {
      font-family: "Roboto", sans-serif;
      color: white;
      font-size: 0.9vw;
      cursor: pointer;
      position: absolute;
      right: 4vw;
      &.flip {
        position: absolute;
        left: 8.5%;
        margin: auto auto;
      }
    }
  }
}

.webdev-gall {
  width: 47.1%;
  height: 100vh;
  .display-image {
    left: 3vw;
    height: 30vw;
    position: relative;
    width: 100%;
    top: 0.69vw;
    text-align: center;
    margin-bottom: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .small-images {
    left: 3vw;
    position: absolute;
    height: 14%;
    width: 47.1%;
    text-align: center;
    top: 38.5vw - 0.81vw;
  }
  .image-wrapper {
    width: 20%;
    height: 75%;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }
  .caption {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 1vw;
    position: absolute;
    top: 31vw;
    left: 3vw;
    background-color: rgba(30, 30, 30, 0.5);
    width: 45%;
    color: white;
    font-size: 1vw;
    overflow: scroll;
    line-height: 1.5vw;
    border-right: 1px solid white;
  }
}


#orgs-wrapper {
  section .title {
    width: 40%;
    color: white;
    position: absolute;
    top: 0.5vw;
    right: 0vw;
    font-size: 3vw;
    line-height: 3.5vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: "Fjalla One";
    background-color: #00A14C;
  }

  #organizations {
    position: absolute;
    height: 44vw;
    top: 8vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 78vw;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: scroll;
    text-align: center;
 }

  .organization-block {
    max-height: 20vw;
    max-width: 20vw;
    display: inline-block;
    margin-top: 1.4vw;
    margin: 1.1vw 2vw;
  }

  .org-image {
    display: block;
    height: 15vw;
    width: 15vw;
    background-position: 50% 50%; /* 50% 50% centers image in div */
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .org-name, .position, .role {
    color: white;
    text-align: left;
    width: 15vw;
    font-family: "Roboto";
    font-size: 1vw;
    font-weight: 400;
    margin-top: 0.1vw;
    margin-bottom: 0;
  }
  .role {
    font-weight: 100;
  }
}

#contact {

  color: white;
  .title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10vw;
    font-size: 5vw;
    font-family: 'Fjalla One', sans-serif;
  }
}

footer {
  background-color: black;
  width: 100%;
  height: 6vw;
  text-align: center;

  .button {
    height: 3.5vw;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 1.3vw;
  }

  .button:hover {
    transform: scale(1.05);
  }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
  #intro-wrapper {
    height: 60vh;
  }
  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  .name {
    top: 15vh;
    font-size: 20vw;
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
  }

  .sub {
    top: 35vh;
    font-size: 7vw;
    width: 100%;
    font-family: 'Playball', sans-serif;
    position: absolute;
  }
  .section {
    width: 100vw;
    height: 100vh;
  }
  .line-follow {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: none;
    -ms-filter: none;
    h1 {
      text-align: left;
      padding-right: 0vw;
      padding-left: 0;
    }
    .tabs {
      text-align: left;
      padding-right: 0;
    }
  }

  .circular-face {
    height: 6vw;
    margin-top: 20px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: 3px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: none;
    overflow: hidden;
  }

  .logo {
    height: 10vw;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: none;
  }

  .categories {
    top: 50vh;
  }

  .button-circ {
    position: absolute;
    width: 25vw;
    height: 25vw;
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.9);
    opacity: 1;
    transition: all .2s ease-in-out;
    margin: 1vw;


    p {
      margin: 8vh auto 0 auto;
      font-family: "Fjalla One";
      font-size: 3.3vw;
    }

    &.button-circ:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: font-size(1.05);
    }

  }

  #robotics-wrapper {
    h1.title {
      font-size: 7.5vw;
      width: 100%;
      line-height: 10vw;
      text-align: center;
      padding: 0.3vw 0;
    }

    .subtitle{
      top: 15vw;
      width: 100%;
      font-size: 5vw;
      line-height: 8.5vw;
      text-align: center;
    }

    section .description {
      position: absolute;
      width: 100vw;
      font-size: 10px;
      top: 24vh;
      .tabs {
        margin-left: 5%;
        top: 22vh;
        width: 50vw;
      }
      .tab {
        font-size: 3.5vw;
        padding: 2vw;
      }
      .content {
        top: 7vh;
        border: none;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 86%;
        padding: 0 2vw;
      }
      .content p {
        font-size: 3.5vw;
        line-height: 5vw;
        font-weight: 100;
      }
      ul li, span {
        font-size: 3.3vw;
        line-height: 5vw;
        text-decoration: none;
      }
      ul {
        margin-top: 0.7vw;
      }
      ul:last-child {
        margin-bottom: 1.5vw;
      }

      span {
        border-bottom: 1px solid white;
      }
      .next {
        display: none;
      }

      .gall {
        height: 65vh;
      }
      .display-image {
        height: 72%;
        margin-bottom: 2vw;
        margin-top: 2vw;
      }
      .small-images {
        width: 100%;
      }
      .image-wrapper {
        width: 18%;
      }

      .video-wrapper {
        padding-top: 4vw;
        margin-bottom: 0vw;
        height: 50vh;
      }
    }
  }
  #webdev-wrapper {

    h1.title {
      font-size: 7.5vw;
      width: 100%;
      line-height: 10vw;
      text-align: center;
      padding: 0.3vw 0;
    }

    .webdev-gall {
      display: none;
    }
    .mobile-gallery {
      display: block;
      height: 100vh;
    }
    section .description {
      position: absolute;
      width: 100vw;
      font-size: 10px;
      top: 16vh;
      .tabs {
        margin-left: 5%;
        top: 0vh;
        width: 50vw;
      }
      .tab {
        font-size: 3.5vw;
        padding: 2vw;
      }
      .content {
        background-color: rgba(30, 30, 30, 0.5);
        color: white;
        width: 80%;
        position: absolute;
        top: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bototm: 1vw;
        font-family: "Roboto", sans-serif;
        & p {
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1vw;
          line-height: 1.5vw;
          position: relative;
          font-weight: 100;
          top: -1.1vw;
          &:first-of-type {
            padding-top: 0.6vw;
          }
        }
      }
      ul li, span {
        font-size: 3vw;
        line-height: 3.5vw;
        text-decoration: none;
      }

      .next {
        display: none;
      }
      ul {
        margin-left: 3vw;
        font-weight: 300;
        li {
          font-weight: 300;
        }
      }
    }

    .display-image {
      height: 50vh;
      width: 90vw;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .image-wrapper {
      width: 20%;
      margin-bottom: 3vh;
    }
  }

  #orgs-wrapper {
    h1.title {
      font-size: 7.5vw;
      width: 100%;
      line-height: 10vw;
      text-align: center;
      padding: 0.3vw 0;
    }
    #organizations {
      top: 20vw;
      height: 70vh;
      width: 90vw;
    }
    .organization-block {
      display: block;
      height: 100vh;
      margin-bottom: 50vh;
      margin-left: 10vw;
      a {
        height: 60vh;
        width: 70vw;
        max-height: 300%;
      }
      .org-name, .position, .role {
        font-size: 3.3vw;
        width: 80vw;
        line-height: 4vw;
      }
    }
  }
  footer {
    height: 10vh;
    .button{
      margin-top: 3vh;
      height: 6vh;
    }
  }
}

.line-follow .caption {
  border: none;
  border-left: 1px solid white;
}